<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
	<div>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="/"><img class="border border-danger" src="student.png"
				style="height: 5pc;"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarNav" aria-controls="navbarNav"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item active"><a class="nav-link" href="/">Home
							<span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item"><a class="nav-link" href="viewInfo">View</a></li>
					<li class="nav-item"><a class="nav-link" href="register">Add</a></li>
					<li class="nav-item"><a class="nav-link" href="updateInfo">Update</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="#">About</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>

	<div class="card border border-dark rounded mt-4 mr-4 ml-4 ">
		<div class="container">
			<div style="padding-top: 5%;">
				<h3>
					<pre style="color: crimson;">
                        Welcome to Student Managaement System
                    </pre>
				</h3>
			</div>
		</div>
	</div>
	
	<div class="container">
		<div style="padding-top: 10%;">
			<div class="alert alert-success" role="alert" th:text="${success}" th:if="${success}"></div>
            <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
				<button type="button" class="btn btn-outline-info mr-3">
					<a href="viewInfo">VIew Student Details</a>
				</button>

				<button type="button" class="btn btn-outline-danger text-danger mr-3">
					<a href="register" class="text-danger">ADD NEW Student Details</a>
				</button>
				
				<button type="button" class="btn btn-outline-dark mr-3 h-75">
					<a href="updateInfo" class="text-dark">UPDATE Student Details</a>
				</button >
			
				<button type="button" class="btn btn-outline-warning mr-3">
					<a href="remove" class="text-warning">DELETE/REMOVE Details</a>
				</button>
			
				<button type="button" class="btn btn-outline-success mr-3">
					<a href="/show" class="text-success">Show All Students Details</a>
				</button>
		</div>
	</div>
</body>
</html>